@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
  max-width: 100%;
}

.App
{
  background: linear-gradient(to bottom right, #00395f, #002843, #071925);
  background-size: cover;
}

.gradient-text {
  background-image: linear-gradient(to bottom right, #ffffff, #5EE7DF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-blur {
  background-color: rgba(136, 135, 135, 0.2);
}